<template>
    <v-card width="100%">
        <v-card-text>
            <v-row>
                <v-col cols="6" class="text-center">
                    <div class="left">
                        <h2>Drop a message!</h2>
                        <img class="image" src="/images/email.png" />
                    </div>
                </v-col>
                <v-col cols="6" class="pb-0">
                    <v-form v-model="isValid" @submit.prevent="send">
                        <v-text-field v-model="name" placeholder="Name" :rules="nameRules" solo></v-text-field>
                        <v-text-field v-model="email" placeholder="Email" :rules="emailRules" solo></v-text-field>
                        <v-text-field v-model="phone" placeholder="Phone" v-mask="`+# (###) ###-##-##`" solo></v-text-field>
                        <v-textarea v-model="message" placeholder="Message" :rules="messageRules" solo></v-textarea>
                        <x-button :loading="isLoading" :disabled="false">Send</x-button>
                    </v-form>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
export default {
    name: 'ContactForm',
    data() {
        return {
            name: '',
            email: '',
            phone: '',
            message: '',
            isValid: true,
            isLoading: false
        }
    },
    computed: {
        nameRules() {
            return [value => !!value || 'Name is required']
        },
        emailRules() {
            return [
                value => !!value || 'Email is required',
                value => /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-z]+$/.test(value) || 'E-mail must be valid'
            ]
        },
        messageRules() {
            return [value => !!value || 'Message is required']
        },
        passwordRules() {
            return [
                value => !!value || 'Password is required',
                value => (value && value.length >= 6) || 'Password must have 6+ characters',
                value => /(?=.*[A-Z])/.test(value) || 'Must have one uppercase character',
                value => /(?=.*\d)/.test(value) || 'Must have one number',
                value => /([!@#$%])/.test(value) || 'Must have one special character [!@#$%]'
            ]
        },
        phoneRules() {
            return [value => /^\+?\d(\(\d{3}\)|-\d{3}-|\d{3})\d{3}-?\d{2}-?\d{2}$/.test(value.replace(/\s+/g, '')) || 'Phone must be valid']
        }
    },
    methods: {
        send() {
            this.isLoading = true
            setTimeout(() => {
                this.isLoading = false
            }, 1000)
        }
    }
}
</script>

<style scoped>
.left {
    height: 100%;
}
.image {
    width: 120px;
    height: 120px;
    margin-top: 180px;
}
</style>
