<template>
    <v-footer class="footer font-weight-medium" app inset padless color="#fff">
        <v-col class="text-center" cols="12">
            &copy; {{ new Date().getFullYear() }} <a href="https://mwazovzky.github.io/about">Mike Wazovzky</a>
        </v-col>
    </v-footer>
</template>

<style scoped>
.footer {
    opacity: 0.8;
}
</style>
