<template>
    <GmapMap :center="mapCenter" :zoom="mapZoom" :style="mapStyle" :options="options" ref="gmap">
        <GmapMarker
            v-for="(marker, index) in markers"
            :key="index"
            :position="marker.position"
            :icon="markerIcon"
            clickable
            draggable
            @click="repositionMap(marker)"
        />
    </GmapMap>
</template>

<script>
import { gmapApi } from '@/node_modules/vue2-google-maps'

const MAP_CENTER = {
    lat: 55.7665691,
    lng: 37.642192
}
const MAP_ZOOM = 13
const MAP_TYPE_ID = 'terrain'
const LEFT_BOTTOM = 6
const options = {
    zoomControl: true,
    mapTypeControl: false,
    streetViewControl: true,
    scaleControl: true,
    zoomControlOptions: {
        position: LEFT_BOTTOM
    }
}
const MAP_STYLE = {
    width: '100%',
    height: '600px'
}
const MARKER_ICON = {
    url: '/images/maps/greenpin.png',
    scaledSize: { width: 22, height: 40 }
}
export default {
    name: 'GoogleMaps',
    props: {
        markers: { type: Array, default: () => [] },
        center: { type: Object, default: () => MAP_CENTER },
        zoom: { type: Number, default: MAP_ZOOM },
        mapStyle: { type: Object, default: () => MAP_STYLE }
    },
    data() {
        return {
            options,
            markerIcon: MARKER_ICON,
            mapCenter: this.center,
            mapZoom: this.zoom
        }
    },
    created() {
        if (!this.center && this.markers.length > 0) {
            this.markers[0].position
        }
    },
    mounted() {
        if (this.markers.length > 1) {
            this.$refs.gmap.$mapPromise.then(map => this.fitMarkers(map))
        }
    },
    methods: {
        fitMarkers(map) {
            const google = gmapApi && gmapApi()
            if (!google) throw new Error('Google API is not available.')
            let bounds = new google.maps.LatLngBounds()
            this.markers.map(marker => marker.position).forEach(position => bounds.extend(position))
            map.fitBounds(bounds)
        },
        repositionMap(marker) {
            this.mapCenter = marker.position
            this.mapZoom = MAP_ZOOM
            this.$refs.gmap.$mapPromise.then(map => map.setZoom(MAP_ZOOM))
        }
    }
}
</script>
