<template>
    <v-app-bar fixed app>
        <v-toolbar-title>
            <Logo />
        </v-toolbar-title>
        <v-spacer />
        <slot>
            <!-- Extra navigation items can be placed here -->
        </slot>
        <v-toolbar-items class="nav-items" v-for="item in navItems" :key="item.title">
            <nuxt-link :to="item.to">{{ item.title }}</nuxt-link>
        </v-toolbar-items>
        <v-divider class="mx-4" vertical inset></v-divider>
        <v-toolbar-items class="nav-items">
            <nuxt-link v-if="!user" to="/login">Login</nuxt-link>
            <nuxt-link v-if="!user" to="/register">Register</nuxt-link>
            <User v-if="user" :user="user" @logout="logout" />
        </v-toolbar-items>
    </v-app-bar>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Logo from '@/components/Logo.vue'
import User from '@/components/Auth/User.vue'

const navItems = [
    { title: 'Home', to: '/' },
    { title: 'Contacts', to: '/contacts' },
    { title: 'About', to: '/about' }
]

export default {
    components: {
        Logo,
        User
    },
    data() {
        return {
            navItems
        }
    },
    computed: {
        ...mapGetters({ user: 'auth/user' })
    },
    methods: {
        ...mapActions({ logoutUser: 'auth/logout' }),
        logout() {
            this.logoutUser()
            this.$router.push('/login')
        }
    }
}
</script>
