<template>
    <div>
        <NavigationDrawer />

        <v-app-bar app dense>
            <v-toolbar-title>
                <Logo />
            </v-toolbar-title>
            <v-spacer />
            <v-toolbar-items class="nav-items" v-for="(item, index) in items" :key="index">
                <a :href="`#${item.key}`" :class="{ active: index === activeSection }">{{ item.title }}</a>
            </v-toolbar-items>
        </v-app-bar>

        <v-content>
            <section class="">
                <slot name="before"></slot>
            </section>
            <scrollspy v-model="activeSection" :items="items">
                <template v-for="item in items" v-slot:[item.key]>
                    <section class="content-section" :key="item.key">
                        <slot :name="item.key"></slot>
                    </section>
                </template>
            </scrollspy>
        </v-content>
    </div>
</template>

<script>
import NavigationDrawer from '@/components/NavigationDrawer.vue'
import Logo from '@/components/Logo.vue'
import Scrollspy from '@/components/Scrollspy.vue'

export default {
    components: {
        NavigationDrawer,
        Logo,
        Scrollspy
    },
    props: {
        items: { type: Array, required: true }
    },
    data() {
        return {
            activeSection: 0
        }
    }
}
</script>

<style scoped>
.content-section::before {
    display: block;
    content: ' ';
    margin-top: -48px;
    height: 48px;
    visibility: hidden;
    pointer-events: none;
}
</style>
