<template>
    <div>
        <v-checkbox class="my-0 py-0" v-model="active" label="Yes! Sign me up for weekly newsletter" hide-details @change="openModal" />
        <x-modal v-if="modal">
            <div class="maillist-body headline">
                Are you sure?
            </div>
            <template v-slot:footer>
                <v-btn class="maillist-button mr-2" color="primary" @click="change">YES</v-btn>
                <v-btn class="maillist-button" color="error" @click="cancel">CANCEL</v-btn>
            </template>
        </x-modal>
    </div>
</template>

<script>
export default {
    name: 'MailList',
    props: {
        value: { type: Boolean, required: true }
    },
    data() {
        return {
            active: this.value,
            modal: false
        }
    },
    methods: {
        openModal() {
            this.modal = true
        },
        closeModal() {
            this.modal = false
        },
        change() {
            this.$emit('input', this.active)
            this.closeModal()
        },
        cancel() {
            this.active = this.value
            this.closeModal()
        }
    }
}
</script>

<style scoped>
.maillist-body {
    text-align: center;
}
.maillist-button {
    width: 100px;
}
</style>
