<template>
    <v-navigation-drawer permanent expand-on-hover app color="#3356BC">
        <v-list nav dense>
            <v-list-item link>
                <v-list-item-icon>
                    <v-icon class="navigation-drawer__icon">mdi-format-list-bulleted-square</v-icon>
                </v-list-item-icon>
                <v-list-item-title>
                    <nuxt-link class="navigaton-drawer__link" to="/posts">POSTS</nuxt-link>
                </v-list-item-title>
            </v-list-item>
            <v-list-item link>
                <v-list-item-icon>
                    <v-icon class="navigation-drawer__icon">mdi-account-box</v-icon>
                </v-list-item-icon>
                <v-list-item-title>
                    <nuxt-link class="navigaton-drawer__link" to="/contacts">CONTACTS</nuxt-link>
                </v-list-item-title>
            </v-list-item>
            <v-list-item link>
                <v-list-item-icon>
                    <v-icon class="navigation-drawer__icon">mdi-information-outline</v-icon>
                </v-list-item-icon>
                <v-list-item-title>
                    <nuxt-link class="navigaton-drawer__link" to="/about">ABOUT</nuxt-link>
                </v-list-item-title>
            </v-list-item>
        </v-list>

        <template #append>
            <v-list nav dense>
                <v-list-item link>
                    <v-list-item-icon>
                        <v-icon class="navigation-drawer__icon">mdi-arrow-expand-all</v-icon>
                    </v-list-item-icon>
                </v-list-item>
            </v-list>
        </template>
    </v-navigation-drawer>
</template>

<script>
export default {
    //
}
</script>

<style scoped>
.navigation-drawer__icon {
    color: #ffffff;
}
.navigaton-drawer__link {
    color: #ffffff;
    text-decoration: none;
}
</style>
