<template>
    <v-snackbar v-model="snackbar" bottom right>
        {{ getText }}
        <v-btn text :color="getColor" @click="snackbar = false">Close</v-btn>
    </v-snackbar>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

export default {
    computed: {
        ...mapGetters({
            getState: 'notification/getState',
            getText: 'notification/getText',
            getColor: 'notification/getColor'
        }),
        snackbar: {
            get() {
                return this.getState
            },
            set(value) {
                this.setState(value)
            }
        }
    },
    methods: {
        ...mapMutations({
            setState: 'notification/setState'
        })
    }
}
</script>
