<template>
    <v-card class="mb-2">
        <v-card-title class="headline">
            {{ post.title }}
        </v-card-title>
        <v-card-subtitle class="subtitle-1 pt-2 pb-0">
            {{ post.category.name }}
        </v-card-subtitle>
        <v-card-text class="pt-0 pb-0">
            <v-container>
                <v-row justify="space-between">
                    <v-col class="pa-0">
                        Posted by {{ post.author }} on {{ post.createdAt}}
                    </v-col>
                    <v-col class="text-right pa-0">
                        <tags-list :tags="post.tags" url="/posts"></tags-list>
                    </v-col>
                </v-row>
            </v-container>
        </v-card-text>
        <v-card-text class="pt-0 text-justify">
            {{ content }}
        </v-card-text>
        <v-card-actions>
            <v-spacer />
            <slot name="actions"></slot>
        </v-card-actions>
    </v-card>
</template>

<script>
import TagsList from './TagsList'

export default {
    name: 'PostPrview',
    components: { TagsList },
    props: {
        post:  { type: Object, required: true },
    },
    computed: {
        content() {
            const max = 380
            const text = this.post.body
            return text.length <= max ? text : `${text.slice(0, max - 3)}...`
        }
    }
}
</script>