<template>
    <v-form class="mt-5" @submit.prevent="submit">
        <v-text-field v-model="form.title" label="Title" single-line solo></v-text-field>
        <v-textarea v-model="form.body" label="Body" rows="16" solo></v-textarea>
        <SelectCategory v-model="form.category" />
        <SelectTags v-model="form.tags" />
        <v-btn type="submit" color="primary">
            <slot>Save</slot>
        </v-btn>
    </v-form>
</template>

<script>
import SelectCategory from '@/components/SelectCategory'
import SelectTags from '@/components/SelectTags'

export default {
    components: {
        SelectCategory,
        SelectTags
    },
    model: {
        prop: 'post'
    },
    props: {
        post: { type: Object, required: false }
    },
    data() {
        return {
            form: {
                id: '',
                author: '',
                title: '',
                slug: '',
                body: '',
                category: null,
                tags: [],
                createdAt: '',
                updatedAt: ''
            }
        }
    },
    created() {
        if (this.post) {
            Object.keys(this.form).forEach(key => (this.form[key] = this.post[key]))
        }
    },
    methods: {
        submit() {
            this.$emit('submit', this.form)
        }
    }
}
</script>
