<template>
    <div>
        <div v-for="item in items" :key="item.key" :id="item.key" :ref="item.key">
            <slot :name="item.key"></slot>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        items: { type: Array, required: true }
    },
    data() {
        return {
            sections: new Set()
        }
    },
    mounted() {
        this.initIntersectionObserver()
    },
    methods: {
        initIntersectionObserver() {
            const options = {
                rootMargin: `-49px 0px 0px 0px`
            }
            const handler = (entries, observer) => {
                entries.forEach(e => (e.isIntersecting ? this.sections.add(e.target.id) : this.sections.delete(e.target.id)))
                this.changeSection()
            }
            let observer = new IntersectionObserver(handler, options)

            this.items.forEach(item => {
                const target = this.$refs[item.key][0]
                observer.observe(target)
            })
        },
        changeSection() {
            const value = this.items.findIndex(item => this.sections.has(item.key))
            this.activeSection = value
            this.$emit('input', value)
        }
    }
}
</script>
