<template>
    <v-select
        v-model="category"
        :items="categories"
        item-text="name"
        item-value="id"
        return-object
        label="Category"
        solo
    ></v-select>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    props: {
        value: { type: Object, default: () => null }
    },
    computed: {
        ...mapGetters({
            categories: 'categories/get'
        }),
        category: {
            get() {
                return this.value
            },
            set(value) {
                this.$emit('input', value)
            }
        }
    }
}
</script>
