<template>
    <v-navigation-drawer permanent expand-on-hover right app>
        <v-list>
            <v-list-item>
                <v-list-item-action>
                    <v-icon>mdi-menu</v-icon>
                </v-list-item-action>
                <v-list-item-title>Sidebar</v-list-item-title>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
export default {
    //
}
</script>