<template>
    <v-autocomplete
        v-model="values"
        :search-input.sync="query"
        :items="tags"
        item-text="name"
        item-value="id"
        return-object
        label="Tags"
        solo
        multiple
        @keydown="onKeydown"
        @input="onInput"
    >
        <template v-slot:item="{item}">{{ item.name }}</template>
    </v-autocomplete>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'Tags',
    props: {
        value: { type: Array, required: true },
        tags: { type: Array, required: true },
        createTag: { type: Function, required: true }
    },
    data() {
        return {
            query: ''
        }
    },
    computed: {
        values: {
            get() {
                return this.value
            },
            set(value) {
                this.$emit('input', value)
            }
        }
    },
    methods: {
        onInput() {
            this.query = ''
        },
        async onKeydown(e) {
            if (e.key !== 'Enter' || !this.query) return
            e.preventDefault()

            const tag = await this.getTag(this.query)
            this.values = [...this.values, tag]
            this.query = ''
        },
        async getTag(name) {
            return this.tags.find(item => item.name == name) || (await this.createTag({ name }))
        }
    }
}
</script>
