<template>
    <div>
        <h1>Edit Post</h1>
        <post-form :post="post" @submit="submit">Update</post-form>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import PostForm from '@/components/PostForm'

export default {
    validate({ params, query }) {
        return /^[a-z0-9]+(?:-[a-z0-9]+)*$/.test(params.slug) // Must be a valid slug
    },
    components: {
        PostForm
    },
    computed: {
        ...mapGetters({
            findPost: 'posts/find'
        }),
        post() {
            return this.findPost(this.$route.params.slug)
        }
    },
    methods: {
        ...mapActions({
            updatePost: 'posts/update'
        }),
        submit(post) {
            this.updatePost(post)
                .then(() => this.notify('Post has been updated', 'success'))
                .then(() => this.$router.push('/posts'))
                .catch(err => {
                    this.notify('ERROR! Failed to update post', 'error')
                    console.log('error', err)
                })
        }
    }
}
</script>
