<template>
    <v-container v-if="post">
        <v-row>
            <h1>{{ post.title }}</h1>
        </v-row>
        <v-row>
            <h2><span class="shadow">Category:</span> {{ post.category.name }}</h2>
        </v-row>
        <v-row justify="space-between">
            <v-col class="text-left pl-0">
                <a href="#">{{ post.author }}</a>
                posted on 
                <span class="shadow">{{ post.createdAt }}</span>
            </v-col>
            <v-col class="text-right pr-0">
                <tags-list :tags="post.tags" url="/posts">&nbsp;</tags-list>
            </v-col>
        </v-row>
        <v-row class="text-justify">
            {{ post.body }}
        </v-row>
        <v-row class="mt-2">
            <div class="mr-2">
                <v-btn color="primary" @click="edit">Edit</v-btn>
            </div>
            <div class="mr-2">
                <v-btn color="error" @click="destroy">Delete</v-btn>
            </div>
        </v-row>
    </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import TagsList from '@/components/TagsList'

export default {
    validate ({ params, query }) {
        return /^[a-z0-9]+(?:-[a-z0-9]+)*$/.test(params.slug) // Must be a valid slug
    },
    components: {
        TagsList,
    },
    computed: {
        ...mapGetters({
            findPost: 'posts/find',
        }),
        post() {
            return this.findPost(this.$route.params.slug)
        }
    },
    methods: {
        ...mapActions({
            destroyPost: 'posts/destroy',
        }),
        edit() {
            this.$router.push(`/posts/${this.post.slug}/edit`)
        },
        destroy() {
            this.destroyPost(this.post)
                .then(() => console.log('post has been destroyed'))
                .then(() => this.$router.push('/posts'))
                .catch(err => console.log('error', err))
        }
    },
}
</script>

<style scoped>
.shadow {
    color: rgb(202, 202, 202);
    font-weight: normal;
}
</style>