<template>
    <button class="button-send" :class="{ disabled }" :style="buttonStyles" :disabled="disabled">
        <div class="button-container">
            <div class="button-text" :class="{ loading }">
                <slot></slot>
            </div>
            <div v-if="loading" class="button-progress">
                <v-progress-circular size="24" :width="2" color="#eeeeee" indeterminate></v-progress-circular>
            </div>
        </div>
    </button>
</template>

<script>
const DEFAULT_STYLES = {
    backgroundColor: '#1976D2',
    color: '#FFFFFF'
}

export default {
    name: 'ButtonBase',
    props: {
        loading: { type: Boolean, default: false },
        disabled: { type: Boolean, default: false },
        styles: { type: Object, default: () => DEFAULT_STYLES }
    },
    computed: {
        buttonStyles() {
            return this.disabled ? {} : this.styles
        }
    }
}
</script>

<style scoped>
.button-send {
    height: 36px;
    min-width: 64px;
    border: solid 1px rgb(222, 222, 222);
    border-radius: 4px;
    outline: none;
}

.button-container {
    position: relative;
    height: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.button-text {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    white-space: nowrap;
    outline: none;
}

.button-progress {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loading {
    visibility: hidden;
}

.disabled {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.26);
}
</style>
