<template>
    <transition name="default">
        <div class="modal-mask">
            <div class="modal-wrapper" ref="modal-wrapper">
                <div class="modal-container" ref="modal-container">
                    <div class="modal-header">
                        <slot name="header"></slot>
                    </div>

                    <div class="modal-body">
                        <slot></slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer"></slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    props: {
        preventBackgroundScrolling: { type: Boolean, default: true }
    },
    mounted() {
        if (!this.preventBackgroundScrolling) return

        const scrollbarWidth = window.innerWidth - document.documentElement.clientWidth
        const html = document.querySelector('html')

        html.style.setProperty('overflow-y', 'hidden')
        html.style.setProperty('padding-right', `${scrollbarWidth}px`)
        this.$refs['modal-wrapper'].style.setProperty('padding-right', `${scrollbarWidth}px`)

        this.$once('hook:beforeDestroy', () => {
            html.style.removeProperty('overflow-y')
            html.style.removeProperty('padding-right')
            this.$refs['modal-wrapper'].style.removeProperty('padding-right')
        })
    }
}
</script>

<style scoped>
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

/*
 * Transition
 */
.default-enter {
    opacity: 0;
}

.default-leave-active {
    opacity: 0;
}

.default-enter .default-container,
.default-leave-active .default-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Transition - slide in and out  */
.slide-enter .modal-container,
.slide-leave-to .modal-container {
    margin-top: 100vh;
}

.slide-enter-to .modal-container,
.slide-leave .modal-container {
    margin-top: 10vh;
}
</style>

<style>
.no-scroll {
    overflow: hidden !important;
    padding-right: 17px;
}
</style>
