.nav-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items a {
    text-decoration: none;
    margin: 0 10px;
    color: rgb(202, 202, 202);
    font-weight: bold;
}
.nav-items a:hover,
.nav-items a.active,
.nav-items a.nuxt-link-exact-active {
    color: #000;
}

.mb-24 {
    margin-bottom: 24px;
}

/* Auth forms */
.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form-actions {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}
