<template>
    <v-content>
        <v-tabs v-model="tab" right>
            <v-tab v-for="item in items" :key="item.tab">{{ item.tab }}</v-tab>
        </v-tabs>
        <v-divider />
        <v-tabs-items v-model="tab">
            <v-tab-item key="users">
                <v-card flat>
                    <v-card-text>
                        <AdminUsers />
                    </v-card-text>
                </v-card>
            </v-tab-item>
            <v-tab-item key="categories">
                <v-card flat>
                    <v-card-text>
                        <AdminCategories />
                    </v-card-text>
                </v-card>
            </v-tab-item>
            <v-tab-item key="tags">
                <v-card flat>
                    <v-card-text>
                        <AdminTags />
                    </v-card-text>
                </v-card>
            </v-tab-item>
            <v-tab-item key="posts">
                <v-card flat>
                    <v-card-text>
                        <AdminPosts />
                    </v-card-text>
                </v-card>
            </v-tab-item>
        </v-tabs-items>
    </v-content>
</template>

<script>
import AdminUsers from '@/components/Admin/AdminUsers'
import AdminPosts from '@/components/Admin/AdminPosts'
import AdminCategories from '@/components/Admin/AdminCategories'
import AdminTags from '@/components/Admin/AdminTags'

const items = [
    { tab: 'users', content: 'Users' },
    { tab: 'categories', content: 'Categories' },
    { tab: 'tags', content: 'Tags' },
    { tab: 'posts', content: 'Posts' }
]

export default {
    middleware: ['auth-check', 'auth'],
    components: { AdminUsers, AdminPosts, AdminCategories, AdminTags },
    data() {
        return {
            items,
            tab: null
        }
    }
}
</script>

<style scoped></style>
