<template>
    <div>
        <h1>Create Post</h1>
        <post-form @submit="submit"></post-form>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import PostForm from '@/components/PostForm'

export default {
    components: {
        PostForm
    },
    methods: {
        ...mapActions({
            createPost: 'posts/create'
        }),
        submit(post) {
            post = {
                ...post,
                author: 'Mike Wazovzky',
                slug: this.makeSlug(post.title),
                createdAt: new Date()
            }

            this.createPost(post)
                .then(() => this.notify('Post has been created', 'success'))
                .then(() => this.$router.push('/posts'))
                .catch(err => {
                    console.log('error', err.response)
                    this.notify('ERROR! Failed to create a post', 'error')
                })
        },
        makeSlug(title) {
            return title
                .split(' ')
                .join('-')
                .toLowerCase()
        }
    }
}
</script>
