<template>
    <div>
        <h1>Posts index</h1>
        <v-container>
            <v-row justify="end">
                <v-btn large color="success float-right" @click="create">Create New Post</v-btn>
            </v-row>
        </v-container>
        <post-preview v-for="post in posts" :key="post.id" :post="post">
            <template v-slot:actions>
                <v-btn icon small color="primary" @click="show(post)">
                    <v-icon>mdi-eye</v-icon>
                </v-btn>
                <v-btn icon small color="warning" @click="edit(post)">
                    <v-icon>mdi-pencil</v-icon>
                </v-btn>
                <v-btn icon small color="error" @click="destroy(post)">
                    <v-icon>mdi-trash-can-outline</v-icon>
                </v-btn>
            </template>
        </post-preview>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import PostPreview from '@/components/PostPreview'

export default {
    components: {
        PostPreview
    },
    computed: {
        ...mapGetters({
            posts: 'posts/get'
        })
    },
    methods: {
        ...mapActions({
            destroyPost: 'posts/destroy'
        }),
        create() {
            this.$router.push(`/posts/create`)
        },
        show(post) {
            this.$router.push(`/posts/${post.slug}`)
        },
        edit(post) {
            this.$router.push(`/posts/${post.slug}/edit`)
        },
        destroy(post) {
            this.destroyPost(post)
                .then(() => this.notify('Post has been destroyed', 'success'))
                .catch(err => {
                    this.notify('ERROR! Failed to destroy post', 'error')
                    console.log('error', err)
                })
        }
    }
}
</script>
