<template>
    <v-app dark>
        <Header />
        <v-content>
            <nuxt />
        </v-content>
        <Footer />
        <Notification />
    </v-app>
</template>

<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Notification from '@/components/Notification.vue'

export default {
    components: {
        Header,
        Footer,
        Notification
    }
}
</script>
