<template>
    <div class="error-container">
        <div class="error-header text-center">ERROR! Something went complitely wrong!</div>
        <div class="error-code text-center">{{ error.statusCode }}</div>
        <div class="text-center">
            <div class="error-message">{{ error.message }}</div>
            <div>Back to <a href="/">homepage</a></div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['error']
}
</script>

<style scoped>
.error-container {
    margin: 20px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.error-header {
    font-size: 3em;
}
.error-code {
    font-size: 24em;
    color: rgb(202, 202, 202);
}
.error-message {
    font-size: 2em;
}
</style>