<template>
    <v-app dark>
        <Sidebar />
        <Header>
            <v-toolbar-items class="nav-items" v-for="item in items" :key="item.title">
                <nuxt-link :to="item.to">{{ item.title }}</nuxt-link>
            </v-toolbar-items>
            <v-divider class="mx-4" vertical inset></v-divider>
        </Header>
        <v-content>
            <nuxt />
        </v-content>
        <Footer />
        <Notification />
    </v-app>
</template>

<script>
import Sidebar from '@/components/Sidebar.vue'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Notification from '@/components/Notification.vue'

const items = [
    { title: 'Index', to: '/posts' },
    { title: 'Create', to: '/posts/create' },
    { title: 'Admin', to: '/posts/admin' }
]

export default {
    components: {
        Sidebar,
        Header,
        Footer,
        Notification
    },
    data() {
        return {
            items
        }
    }
}
</script>
