<template>
    <div>
        <v-data-table :headers="headers" :items="items" :items-per-page="10" sort-by="name">
            <template v-slot:top>
                <v-toolbar flat color="white">
                    <v-toolbar-title class="text-uppercase">Manage Categories</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on }">
                            <v-btn text color="primary" dark class="mb-2" v-on="on">Create Item</v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ title }}</span>
                            </v-card-title>
                            <v-card-text>
                                <v-text-field v-model="item.key" label="Key" disabled></v-text-field>
                                <v-text-field v-model="item.id" label="ID" disabled></v-text-field>
                                <v-text-field v-model="item.name" label="Name"></v-text-field>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                                <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.action="{ item }">
                <v-icon small @click="editItem(item)">mdi-pencil</v-icon>
                <v-icon small @click="destroyItem(item)">mdi-delete</v-icon>
            </template>
        </v-data-table>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
    name: 'AdminCategories',
    data() {
        return {
            dialog: false,
            item: {},
            title: ''
        }
    },
    computed: {
        ...mapGetters({
            items: 'categories/get'
        }),
        headers() {
            return [
                { text: 'ID', value: 'id', align: 'left', sortable: false },
                { text: 'NAME', value: 'name', align: 'left', sortable: true },
                { text: 'Actions', value: 'action', align: 'center', sortable: false }
            ]
        }
    },
    created() {
        this.reset()
    },
    methods: {
        ...mapActions({
            createItem: 'categories/create',
            updateItem: 'categories/update',
            destroyItem: 'categories/destroy'
        }),
        reset() {
            this.item = Object.assign({}, { key: '', id: '', name: '' })
            this.title = 'Create New Item'
        },
        editItem(item) {
            this.item = Object.assign({}, item)
            this.title = 'Update Item'
            this.dialog = true
        },
        close() {
            this.dialog = false
            this.reset()
        },
        save() {
            ;(this.item.key && this.updateItem(this.item)) || this.createItem(this.item)
            this.dialog = false
            this.reset()
        }
    }
}
</script>

<style scoped></style>
