<template>
    <v-data-table :headers="headers" :items="items" :items-per-page="10" sort-by="createdAt" :sort-desc="true">
        <template v-slot:item.action="{ item }">
            <v-icon small @click="destroyItem(item)">mdi-delete</v-icon>
        </template>
    </v-data-table>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
    name: 'AdminPosts',
    computed: {
        ...mapGetters({
            posts: 'posts/get'
        }),
        headers() {
            return [
                { text: 'ID', value: 'id', align: 'left', sortable: false },
                { text: 'TITLE', value: 'title', align: 'left', sortable: false },
                { text: 'AUTHOR', value: 'author', align: 'center', sortable: true },
                { text: 'CREATED AT', value: 'createdAt', align: 'center', sortable: true },
                { text: 'Actions', value: 'action', align: 'center', sortable: false }
            ]
        },
        items() {
            return this.posts
        }
    },
    methods: {
        ...mapActions({
            destroyItem: 'posts/destroy'
        })
    }
}
</script>

<style scoped></style>
