<template>
    <div class="auth-page">
        <div class="auth-wrapper" :class="{ loading }">
            <div class="auth-content" v-if="form === 'register'">
                <h4 class="auth-heading mb-24">Register</h4>
                <RegisterForm :loading="loading" @submit="registerUser" />
                <div class="auth-links">
                    <a class="auth-link" href="#" @click.prevent="redirect('/login')">Login</a>
                </div>
            </div>

            <div class="auth-content" v-if="form === 'login'">
                <h4 class="auth-heading mb-24">Login</h4>
                <LoginForm :loading="loading" :email="email" @submit="loginUser" />
                <div class="auth-links">
                    <a class="auth-link" href="#" @click.prevent="redirect('/forgot-password')">Forgot password?</a>
                    <a class="auth-link" href="#" @click.prevent="redirect('/register')">Register</a>
                </div>
            </div>

            <div class="auth-content" v-if="form === 'forgot-password'">
                <h4 class="auth-heading mb-24">Forgot Password</h4>
                <ForgotPasswordForm :loading="loading" @submit="sendResetCode" />
                <div class="auth-links">
                    <a class="auth-link" href="#" @click.prevent="redirect('/login')">Login</a>
                    <a class="auth-link" href="#" @click.prevent="redirect('/register')">Register</a>
                </div>
            </div>

            <div class="auth-content" v-if="form === 'verify'">
                <h4 class="auth-heading mb-24">Verify</h4>
                <VerifyForm :loading="loading" :email="email" @submit="verifyResetCode" />
                <div class="auth-links">
                    <a class="auth-link" href="#" @click.prevent="redirect('/login')">Login</a>
                </div>
            </div>

            <div class="auth-content" v-if="form === 'reset-password'">
                <h4 class="auth-heading mb-24">Reset Password</h4>
                <ResetPasswordForm :loading="loading" :email="email" @submit="updatePassword" />
                <div class="auth-links">
                    <a class="auth-link" href="#" @click.prevent="redirect('/login')">Login</a>
                </div>
            </div>

            <div class="auth-message" v-if="message" :class="message.status">
                {{ message.text }}
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import LoginForm from '@/components/Auth/LoginForm'
import RegisterForm from '@/components/Auth/RegisterForm'
import VerifyForm from '@/components/Auth/VerifyForm'
import ResetPasswordForm from '@/components/Auth/ResetPasswordForm'
import ForgotPasswordForm from '@/components/Auth/ForgotPasswordForm'

export default {
    name: 'auth',
    components: {
        LoginForm,
        RegisterForm,
        VerifyForm,
        ResetPasswordForm,
        ForgotPasswordForm
    },
    props: {
        name: {
            type: String,
            default: 'login',
            validator: value => ['login', 'register', 'forgot-password'].includes(value)
        }
    },
    data() {
        return {
            form: this.name,
            message: null,
            email: '',
            code: '',
            loading: false
        }
    },
    methods: {
        ...mapActions({
            register: 'auth/register',
            login: 'auth/login',
            sendPasswordResetCode: 'auth/sendPasswordResetCode',
            verifyPasswordResetCode: 'auth/verifyPasswordResetCode',
            resetPassword: 'auth/resetPassword'
        }),
        registerUser({ name, email, password, password_confirmation }) {
            this.loading = true
            this.register({ name, email, password, password_confirmation })
                .then(() => {
                    this.succeed(`you have been registered`)
                    this.email = email
                    this.form = 'login'
                })
                .catch(() => this.fail('registration failed'))
                .finally(() => (this.loading = false))
        },
        loginUser({ email, password }) {
            this.loading = true
            this.login({ email, password })
                .then(() => this.redirect('/posts'))
                .catch(() => this.fail('wrong email or password'))
                .finally(() => (this.loading = false))
        },
        sendResetCode({ email }) {
            this.loading = true
            this.sendPasswordResetCode({ email })
                .then(() => {
                    this.succeed(`confirmation code sent to ${email}`)
                    this.email = email
                    this.form = 'verify'
                })
                .catch(() => this.fail('can not send verification code'))
                .finally(() => (this.loading = false))
        },
        verifyResetCode({ email, code }) {
            this.loading = true
            this.verifyPasswordResetCode({ email, code })
                .then(() => {
                    this.succeed('code has been confirmed')
                    this.email = email
                    this.code = code
                    this.form = 'reset-password'
                })
                .catch(() => this.fail('code verification failed'))
                .finally(() => (this.loading = false))
        },
        updatePassword({ email, password, password_confirmation }) {
            this.loading = true
            this.resetPassword({ email, password, password_confirmation, code: this.code })
                .then(() => {
                    this.succeed('your password has been changed')
                    this.code = null
                    this.form = 'login'
                })
                .catch(() => this.fail('failed to change password'))
                .finally(() => (this.loading = false))
        },
        succeed(text) {
            this.message = {
                status: 'success',
                text
            }
        },
        fail(text) {
            this.message = {
                status: 'error',
                text
            }
        },
        redirect(path) {
            this.$router.push(path)
        }
    }
}
</script>

<style scoped>
.auth-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-wrapper {
    width: 300px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 4px;
}

.auth-content {
    padding: 12px 24px;
}

.auth-links {
    margin-top: 24px;
    text-align: center;
}

.auth-link {
    font-size: 12px;
}

.auth-message {
    border-top: 1px solid rgb(0, 0, 0, 0.14);
    padding: 8px 16px;
    font-size: 12px;
    text-align: center;
}

.error {
    filter: brightness(250%);
    color: #c40000;
}

.success {
    filter: brightness(150%);
    color: #007115;
}

.loading {
    opacity: 0.4;
}
</style>
