<template>
    <v-container>
        <h1 class="contacts-header">Contact Information</h1>
        <v-divider />

        <v-row class="contacts-section">
            <v-card width="100%">
                <v-row justify="space-between" align="center">
                    <v-col cols="auto">
                        <v-card-title>We are here to help. Get in touch!</v-card-title>
                        <v-card-text class="py-1 contact-section-text">
                            <v-icon class="mr-2">mdi-map-marker</v-icon>
                            Address: 123 Example str., Laravill, CT, USA
                        </v-card-text>
                        <v-card-text class="py-1 contact-section-text">
                            <v-icon class="mr-2">mdi-cellphone-iphone</v-icon>
                            Phone: +1 (101) 222 2222
                        </v-card-text>
                        <v-card-text class="py-1 contact-section-text">
                            <v-icon class="mr-2">mdi-email-outline</v-icon>Email:
                            <a>mike.wazovzky@gmail.com</a>
                        </v-card-text>
                        <v-card-text class="py-1 contact-section-text">
                            <MailList v-model="mailList" />
                        </v-card-text>
                    </v-col>
                    <v-col cols="auto py-0">
                        <v-img height="220" width="330" src="/images/about.jpg" alt />
                    </v-col>
                </v-row>
            </v-card>
        </v-row>

        <v-row class="contacts-section">
            <GoogleMap class="google-map" :markers="markers" />
        </v-row>

        <v-row class="contacts-section">
            <MetroMap class="metro-map" :stations="stations" />
        </v-row>

        <v-row class="contacts-section last">
            <ContactForm />
        </v-row>
    </v-container>
</template>

<script>
import MailList from '@/components/MailList'
import GoogleMap from '@/components/GoogleMaps'
import MetroMap from '@/components/MetroMap'
import ContactForm from '@/components/ContactForm'

export default {
    components: {
        MailList,
        GoogleMap,
        MetroMap,
        ContactForm
    },
    data() {
        return {
            mailList: false,
            markers: [
                // { position: { lat: 55.7667841, lng: 37.6414676 } },
                { position: { lat: 55.6019639, lng: 37.5319462 } },
                { position: { lat: 55.5959846, lng: 37.5412237 } },
                { position: { lat: 55.6007322, lng: 37.5451501 } }
            ],
            stations: [
                { id: 166, line_id: 6 },
                { id: 84, line_id: 6 }
            ]
        }
    }
}
</script>

<style scoped>
.contacts-section {
    margin-top: 24px;
}
.contacts-section.last {
    margin-bottom: 48px;
}
.contact-section-text {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
}
.metro-map {
    width: 80%;
    margin: 0 auto;
}
</style>
