<template>
    <landing-template :items="navItems">
        <template v-slot:before>
            <v-img src="/images/hero.jpg" height="240" position="top center"></v-img>
        </template>
        <template v-slot:info>
            <div class="home-section">
                <h1 class="display-3 mt-4 mb-4">Homepage template</h1>
                <h2 class="display-1 mb-4">Built with Nuxt.js and Vuetify</h2>
                <h2 class="mb-1">Information</h2>
                <div class="text-justify">
                    Sunt, voluptate itaque placeat debitis voluptas, dolor eum quisquam numquam deleniti officiis quia optio voluptatem?
                    Accusantium consequatur sequi ducimus ipsam officia, inventore reiciendis a iste voluptatum non ad pariatur error odio
                    nisi aut nam facere placeat maxime quia deserunt laboriosam, eaque fuga esse! Quae impedit vero veniam, velit expedita
                    blanditiis. Error, sint enim sed nisi facere neque tenetur voluptatem eum quo nemo exercitationem numquam iure labore
                    quisquam soluta? Perferendis alias praesentium dolore quasi explicabo magnam quos, nostrum ullam velit cumque error
                    tempore, odio blanditiis libero cupiditate maiores nulla pariatur recusandae necessitatibus quas quaerat asperiores
                    numquam nam. Officia sapiente, modi iure, magnam, veniam dolore doloribus voluptatibus odio natus sunt asperiores ex
                    similique neque impedit dicta. Quae fugiat molestias nobis adipisci neque? Sit delectus, aspernatur non similique ipsam
                    repudiandae iure fugiat, obcaecati incidunt nihil magnam distinctio autem in nam voluptatem et totam. Voluptatum ratione
                    neque magnam quos alias non, laboriosam illo aut nemo maiores in nobis aperiam, quis quibusdam error, repellat porro
                    omnis repellendus delectus sequi impedit? Tenetur cum nam similique facilis asperiores? Ut quas consequatur illum
                    dolorum distinctio dolores asperiores quam illo nobis facere aliquam eius esse ea ipsam dicta earum mollitia magnam
                    soluta perspiciatis, omnis dignissimos eveniet amet accusantium! Deleniti doloribus tempora et ipsam enim repellat,
                    porro amet magnam, autem neque aspernatur ea nisi incidunt consequuntur sunt commodi accusantium distinctio quo
                    blanditiis dolor placeat. Eius, necessitatibus in! Harum alias ad itaque laboriosam optio? Nisi aliquid fugiat
                    consequuntur dolore ullam eos, perferendis pariatur libero optio, veniam hic voluptatum cumque accusamus totam magnam
                    sunt at deleniti odit adipisci eligendi quidem doloremque facere unde. Reiciendis provident aperiam ut laborum aliquam
                    veniam sunt architecto dolores quod voluptas ipsum aspernatur error repudiandae, ipsam alias nobis libero dolorum
                    reprehenderit quis! Vero, dolor voluptatibus. Ea at culpa impedit dolorum!
                </div>
            </div>
        </template>
        <template v-slot:location>
            <div class="home-section">
                <h2 class="mb-1">Location</h2>
                <div class="text-justify">
                    Sunt, voluptate itaque placeat debitis voluptas, dolor eum quisquam numquam deleniti officiis quia optio voluptatem?
                    Accusantium consequatur sequi ducimus ipsam officia, inventore reiciendis a iste voluptatum non ad pariatur error odio
                    nisi aut nam facere placeat maxime quia deserunt laboriosam, eaque fuga esse! Quae impedit vero veniam, velit expedita
                    blanditiis. Error, sint enim sed nisi facere neque tenetur voluptatem eum quo nemo exercitationem numquam iure labore
                    quisquam soluta? Perferendis alias praesentium dolore quasi explicabo magnam quos, nostrum ullam velit cumque error
                    tempore, odio blanditiis libero cupiditate maiores nulla pariatur recusandae necessitatibus quas quaerat asperiores
                    numquam nam. Officia sapiente, modi iure, magnam, veniam dolore doloribus voluptatibus odio natus sunt asperiores ex
                    similique neque impedit dicta. Quae fugiat molestias nobis adipisci neque? Sit delectus, aspernatur non similique ipsam
                    repudiandae iure fugiat, obcaecati incidunt nihil magnam distinctio autem in nam voluptatem et totam. Voluptatum ratione
                    neque magnam quos alias non, laboriosam illo aut nemo maiores in nobis aperiam, quis quibusdam error, repellat porro
                    omnis repellendus delectus sequi impedit? Tenetur cum nam similique facilis asperiores? Ut quas consequatur illum
                    dolorum distinctio dolores asperiores quam illo nobis facere aliquam eius esse ea ipsam dicta earum mollitia magnam
                    soluta perspiciatis, omnis dignissimos eveniet amet accusantium! Deleniti doloribus tempora et ipsam enim repellat,
                    porro amet magnam, autem neque aspernatur ea nisi incidunt consequuntur sunt commodi accusantium distinctio quo
                    blanditiis dolor placeat. Eius, necessitatibus in! Harum alias ad itaque laboriosam optio? Nisi aliquid fugiat
                    consequuntur dolore ullam eos, perferendis pariatur libero optio, veniam hic voluptatum cumque accusamus totam magnam
                    sunt at deleniti odit adipisci eligendi quidem doloremque facere unde. Reiciendis provident aperiam ut laborum aliquam
                    veniam sunt architecto dolores quod voluptas ipsum aspernatur error repudiandae, ipsam alias nobis libero dolorum
                    reprehenderit quis! Vero, dolor voluptatibus. Ea at culpa impedit dolorum!
                </div>
            </div>
        </template>
        <template v-slot:reviews>
            <div class="home-section">
                <h2 class="mb-1">Reviews</h2>
                <div class="text-justify">
                    Sunt, voluptate itaque placeat debitis voluptas, dolor eum quisquam numquam deleniti officiis quia optio voluptatem?
                    Accusantium consequatur sequi ducimus ipsam officia, inventore reiciendis a iste voluptatum non ad pariatur error odio
                    nisi aut nam facere placeat maxime quia deserunt laboriosam, eaque fuga esse! Quae impedit vero veniam, velit expedita
                    blanditiis. Error, sint enim sed nisi facere neque tenetur voluptatem eum quo nemo exercitationem numquam iure labore
                    quisquam soluta? Perferendis alias praesentium dolore quasi explicabo magnam quos, nostrum ullam velit cumque error
                    tempore, odio blanditiis libero cupiditate maiores nulla pariatur recusandae necessitatibus quas quaerat asperiores
                    numquam nam. Officia sapiente, modi iure, magnam, veniam dolore doloribus voluptatibus odio natus sunt asperiores ex
                    similique neque impedit dicta. Quae fugiat molestias nobis adipisci neque? Sit delectus, aspernatur non similique ipsam
                    repudiandae iure fugiat, obcaecati incidunt nihil magnam distinctio autem in nam voluptatem et totam. Voluptatum ratione
                    neque magnam quos alias non, laboriosam illo aut nemo maiores in nobis aperiam, quis quibusdam error, repellat porro
                    omnis repellendus delectus sequi impedit? Tenetur cum nam similique facilis asperiores? Ut quas consequatur illum
                    dolorum distinctio dolores asperiores quam illo nobis facere aliquam eius esse ea ipsam dicta earum mollitia magnam
                    soluta perspiciatis, omnis dignissimos eveniet amet accusantium! Deleniti doloribus tempora et ipsam enim repellat,
                    porro amet magnam, autem neque aspernatur ea nisi incidunt consequuntur sunt commodi accusantium distinctio quo
                    blanditiis dolor placeat. Eius, necessitatibus in! Harum alias ad itaque laboriosam optio? Nisi aliquid fugiat
                    consequuntur dolore ullam eos, perferendis pariatur libero optio, veniam hic voluptatum cumque accusamus totam magnam
                    sunt at deleniti odit adipisci eligendi quidem doloremque facere unde. Reiciendis provident aperiam ut laborum aliquam
                    veniam sunt architecto dolores quod voluptas ipsum aspernatur error repudiandae, ipsam alias nobis libero dolorum
                    reprehenderit quis! Vero, dolor voluptatibus. Ea at culpa impedit dolorum!
                </div>
            </div>
        </template>
        <template v-slot:contact>
            <div class="home-section">
                <h2 class="mb-1">Contact</h2>
                <div class="text-justify">
                    Sunt, voluptate itaque placeat debitis voluptas, dolor eum quisquam numquam deleniti officiis quia optio voluptatem?
                    Accusantium consequatur sequi ducimus ipsam officia, inventore reiciendis a iste voluptatum non ad pariatur error odio
                    nisi aut nam facere placeat maxime quia deserunt laboriosam, eaque fuga esse! Quae impedit vero veniam, velit expedita
                    blanditiis. Error, sint enim sed nisi facere neque tenetur voluptatem eum quo nemo exercitationem numquam iure labore
                    quisquam soluta? Perferendis alias praesentium dolore quasi explicabo magnam quos, nostrum ullam velit cumque error
                    tempore, odio blanditiis libero cupiditate maiores nulla pariatur recusandae necessitatibus quas quaerat asperiores
                    numquam nam. Officia sapiente, modi iure, magnam, veniam dolore doloribus voluptatibus odio natus sunt asperiores ex
                    similique neque impedit dicta. Quae fugiat molestias nobis adipisci neque? Sit delectus, aspernatur non similique ipsam
                    repudiandae iure fugiat, obcaecati incidunt nihil magnam distinctio autem in nam voluptatem et totam. Voluptatum ratione
                    neque magnam quos alias non, laboriosam illo aut nemo maiores in nobis aperiam, quis quibusdam error, repellat porro
                    omnis repellendus delectus sequi impedit? Tenetur cum nam similique facilis asperiores? Ut quas consequatur illum
                    dolorum distinctio dolores asperiores quam illo nobis facere aliquam eius esse ea ipsam dicta earum mollitia magnam
                    soluta perspiciatis, omnis dignissimos eveniet amet accusantium! Deleniti doloribus tempora et ipsam enim repellat,
                    porro amet magnam, autem neque aspernatur ea nisi incidunt consequuntur sunt commodi accusantium distinctio quo
                    blanditiis dolor placeat. Eius, necessitatibus in! Harum alias ad itaque laboriosam optio? Nisi aliquid fugiat
                    consequuntur dolore ullam eos, perferendis pariatur libero optio, veniam hic voluptatum cumque accusamus totam magnam
                    sunt at deleniti odit adipisci eligendi quidem doloremque facere unde. Reiciendis provident aperiam ut laborum aliquam
                    veniam sunt architecto dolores quod voluptas ipsum aspernatur error repudiandae, ipsam alias nobis libero dolorum
                    reprehenderit quis! Vero, dolor voluptatibus. Ea at culpa impedit dolorum!
                </div>
            </div>
        </template>
    </landing-template>
</template>

<script>
import LandingTemplate from '@/components/LandingTemplate.vue'

const navItems = [
    { key: 'info', title: 'INFORMATION' },
    { key: 'location', title: 'LOCATION' },
    { key: 'reviews', title: 'REVIEWS' },
    { key: 'contact', title: 'CONTACT' }
]

export default {
    name: 'homepage',
    layout: 'home',
    components: {
        LandingTemplate
    },
    data() {
        return {
            navItems
        }
    }
}
</script>

<style scoped>
.home-section {
    padding: 0 24px;
}
</style>
