<template>
    <v-container>
        <div class="shadow text-right">layout: posts</div>
        <hr class="shadow">
        <nuxt-child/>
    </v-container>
</template>

<script>
export default {
    layout: 'posts'
}
</script>

<style scoped>
.shadow {
    color: rgb(202, 202, 202);
    font-weight: normal;
}
</style>