<template>
    <v-form class="auth-form" v-model="isValid" ref="form" @submit.prevent="submit">
        <v-text-field
            class="auth-form-input"
            v-model="form.email"
            label="E-mail Address"
            type="email"
            :rules="emailRules"
            color="default"
            outlined
            dense
            required
        >
        </v-text-field>
        <div class="auth-form-actions">
            <v-btn class="auth-from-button mx-2" type="submit" color="primary" :disabled="!isValid" :loading="loading">
                Proceed
            </v-btn>
        </div>
    </v-form>
</template>

<script>
export default {
    name: 'LoginForm',
    props: {
        loading: { type: Boolean, default: false }
    },
    data() {
        return {
            form: {
                email: ''
            },
            isValid: false
        }
    },
    computed: {
        emailRules() {
            return [
                value => !!value || 'Email required',
                value => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(value) || 'E-mail must be valid'
            ]
        }
    },
    methods: {
        submit() {
            this.$emit('submit', this.form)
        }
    }
}
</script>
