<template>
    <v-form class="auth-form" v-model="isValid" ref="form" @submit.prevent="submit">
        <v-text-field
            class="auth-form-input"
            v-model="form.name"
            label="Name"
            :rules="nameRules"
            color="default"
            outlined
            dense
            required
        >
        </v-text-field>
        <v-text-field
            class="auth-form-input"
            v-model="form.email"
            label="E-mail Address"
            type="email"
            :rules="emailRules"
            color="default"
            outlined
            dense
            required
        >
        </v-text-field>
        <v-text-field
            class="auth-form-input"
            v-model="form.password"
            label="Password"
            type="password"
            :rules="passwordRules"
            color="default"
            outlined
            dense
            required
        >
        </v-text-field>
        <v-text-field
            class="auth-form-input"
            v-model="form.password_confirmation"
            label="Password confirmation"
            type="password"
            :rules="passwordConfirmationRules"
            color="default"
            outlined
            dense
            required
        >
        </v-text-field>
        <div class="auth-form-actions">
            <v-btn class="auth-from-button mx-2" type="submit" color="primary" :disabled="!isValid" :loading="loading">
                Register
            </v-btn>
        </div>
    </v-form>
</template>

<script>
const passwordMinLength = 6

export default {
    name: 'RegisterForm',
    props: {
        loading: { type: Boolean, default: false }
    },
    data() {
        return {
            form: {
                name: '',
                email: '',
                password: '',
                password_confirmation: ''
            },
            isValid: false
        }
    },
    computed: {
        nameRules() {
            return [value => !!value || 'Name required']
        },
        emailRules() {
            return [
                value => !!value || 'Email required',
                value => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(value) || 'E-mail must be valid'
            ]
        },
        passwordRules() {
            return [
                value => !!value || 'Password required',
                value =>
                    (value && value.length >= passwordMinLength) ||
                    `Password must be at least ${passwordMinLength} chars`
            ]
        },
        passwordConfirmationRules() {
            return [value => (value && value === this.form.password) || `Password confirmation does not match`]
        }
    },
    methods: {
        submit() {
            this.$emit('submit', this.form)
        }
    }
}
</script>
