<template>
    <v-menu offset-y>
        <template v-slot:activator="{ on }">
            <div class="user-container">
                <v-btn v-on="on" icon :width="avatarSize" :height="avatarSize">
                    <NameAvatar :src="user.photo" :username="user.name" />
                </v-btn>
                <div class="user-info">
                    <div class="user-name font-weight-medium">{{ user.name }}</div>
                    <div class="user-email">{{ user.email }}</div>
                </div>
            </div>
        </template>

        <v-list width="240" dense>
            <v-divider></v-divider>
            <v-list-item @click="$router.push('/profile')">
                <v-list-item-icon>
                    <v-icon>mdi-account</v-icon>
                </v-list-item-icon>
                <v-list-item-title>Профиль</v-list-item-title>
            </v-list-item>
            <v-list-item @click="logout">
                <v-list-item-icon>
                    <v-icon>mdi-exit-to-app</v-icon>
                </v-list-item-icon>
                <v-list-item-title>Выйти</v-list-item-title>
            </v-list-item>
        </v-list>
    </v-menu>
</template>

<script>
import NameAvatar from 'vue-avatar'

export default {
    name: 'User',
    components: { NameAvatar },
    props: {
        user: { type: Object, required: true }
    },
    data() {
        return {
            avatarSize: 56
        }
    },
    methods: {
        logout() {
            this.$emit('logout')
        }
    }
}
</script>

<style lang="scss">
.user-container {
    display: flex;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
    color: rgba(0, 0, 0, 0.7);
}

.user-name {
    font-size: 1em;
}

.user-email {
    font-size: 0.8em;
    line-height: 1;
}
</style>
